In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sys
from tqdm import tqdm

from astropy.io import fits

In [2]:
data_folder = 'C:/Users/oryan/Documents/mergers-in-cosmos/back-to-basics-data'
folder = 'C:/Users/oryan/Documents/mergers-in-cosmos'
student_folder = 'C:/Users/oryan/Documents/mergers-in-cosmos/followup-data'
results_folder = 'C:/Users/oryan/Documents/mergers-in-cosmos/back-to-basics-results'
cosmos_folder = 'E:/cosmos-data'

In [3]:
secondary_ids = pd.read_csv(f'{data_folder}/secondary-ids-redone-2.csv', index_col = 0).reset_index().rename(columns = {'index':'SourceID'})

In [4]:
secondary_ids

          SourceID   sec_id
0    4000705532984   846770
1    4000705539529  1298521
2    4000707045178   271755
3    4000707047768   260900
4    4000707048117   252331
..             ...      ...
656  6000435703307   863206
657  6000443709301   987251
658  6000513404870   826072
659  6000516624203   821410
660  6000518662663   591065

[661 rows x 2 columns]

In [5]:
primary_ids = pd.read_csv(f'{data_folder}/cosmos-primary-data.csv', index_col = 0)

In [6]:
prim_ids_df = primary_ids.reset_index().rename(columns = {'index': 'SourceID'})[['SourceID', 'ID']]

In [7]:
prim_ids_list = list(prim_ids_df.ID)

In [8]:
with fits.open(f'{cosmos_folder}/COSMOS2020_CLASSIC_R1_v2.1_p3.fits.gz') as hdul:
    data = hdul[1].data

In [9]:
def getting_secondary_info(sec_id, prim_ids):
    if sec_id in prim_ids:
        return np.nan
    row = data[data['ID'] == sec_id]
    
    sub_dict = {}
    for i in list(row.names):
        sub_dict[i] = row[i][0]
    
    return sub_dict

In [10]:
secondary_dict = {}

In [11]:
global data

In [12]:
for i in tqdm(range(len(secondary_ids))):
    sourceid = secondary_ids.SourceID.iloc[i]
    sec_id = secondary_ids.sec_id.iloc[i]
    if sourceid in list(secondary_dict.keys()):
        continue
    secondary_dict[sourceid] = getting_secondary_info(sec_id, prim_ids_list)

100%|██████████| 661/661 [07:51<00:00,  1.40it/s]

In [13]:
secondary_dict_red = {}
for i in tqdm(list(secondary_dict.keys())):
    if type(secondary_dict[i]) != dict:
        continue
    secondary_dict_red[i] = secondary_dict[i]

100%|██████████| 661/661 [00:00<00:00, 661994.97it/s]

In [14]:
df_secs = pd.DataFrame.from_dict(secondary_dict_red, orient = 'index')

In [15]:
df_secs_re = df_secs.rename(columns = {'ID' : 'Sec_ID'})

In [16]:
df_secs_re.to_csv(f'{data_folder}/cosmos-secondary-data-redone-2.csv')