In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import joblib
joblib.__file__

'C:\\Users\\oryan\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\joblib\\__init__.py'

In [3]:
data_folder = 'C:/Users/oryan/Documents/esac-project/followup-data'

In [4]:
data_save_folder = 'C:/Users/oryan/Documents/esac-project/data'

In [5]:
full_table = pd.read_csv(f'{data_folder}/group_full_table.csv', index_col = 0)

In [12]:
def get_category(one,two,three,four):
    if one and not two and not three and not four:
        return 'stage1'
    if not one and two and not three and not four:
        return 'stage2'
    if not one and not two and three and not four:
        return 'stage3'
    if not one and not two and not three and four:
        return 'stage4'
    if not one and not two and not three and not four:
        return 'incorrect'
    if np.sum(np.asarray([one,two,three,four])) > 1:
        return 'invalid'
    
    return 'Failed'

In [13]:
df_cat = (
    full_table
    .assign(category = full_table.apply(lambda row: get_category(row.isStageOne, row.isStageTwo, row.isStageThree, row.isStageFour), axis = 1))
)

In [15]:
df_cat.category.value_counts()

stage4       7191
stage2       5578
stage1       4557
stage3       4192
incorrect     399
invalid         9
Name: category, dtype: int64

In [17]:
df_cat.query('category == "invalid"')

,SourceID,RA,Dec,isStageOne,isStageTwo,isStageThree,isStageFour,category
col1,,,,,,,,
21,4000705532455,150.679664,2.196615,False,True,True,False,invalid
46,4000705548020,215.001520,53.126872,False,False,True,True,invalid
161,4000707074239,188.498967,7.769590,False,False,True,True,invalid
1070,4000738419445,206.890004,-11.732770,True,False,True,False,invalid
8629,4001010223660,173.718233,25.903857,True,True,False,False,invalid
13253,4001163738912,53.117864,-27.644802,True,False,False,True,invalid
15988,4001254412902,140.388585,-6.378822,True,False,False,True,invalid
17000,4001272789852,14.268464,-27.672655,False,True,False,True,invalid
17990,4001322559361,34.365908,-5.224588,True,False,True,False,invalid

In [24]:
df_cat.query('category == "invalid"').to_csv(f'{data_save_folder}/invalid-answers.csv')

In [25]:
df_cat.query('category == "incorrect"').to_csv(f'{data_save_folder}/zoobot_incorrect_classifications.csv')

In [26]:
df_red = df_cat[['SourceID','RA','Dec','category']]

In [27]:
df_tmp = df_red.query('category != "invalid"')
df_export = df_tmp.query('category != "incorrect"')

In [28]:
df_export.to_csv(f'{data_save_folder}/categorised_sources.csv')