# Matching my Cat to COSMOS2020
Realised that downloading parts of the data previously limits what I can do with it. Therefore, redownloading the data and saving everything. Using the previously matched catalogue though, for speed.

In [6]:
import pandas as pd
import sys
import time
import numpy as np
from tqdm import tqdm
tqdm.pandas()

from astropy.io import fits

from IPython.display import clear_output

In [2]:
with fits.open('E:/temporary-cosmos-big-data/COSMOS2020_CLASSIC_R1_v2.1_p3.fits.gz') as hdul:
    data = hdul[1].data
    header = hdul[1].header

In [3]:
cat2015 = pd.read_csv('C:/Users/oryan/Documents/mergers-in-cosmos/data/cosmos-matched-all-real-df.csv', index_col = 0)
cat2015_red = cat2015[['SourceID', 'id_1', 'id_2']]

C:\Users\oryan\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (460) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
cat2015_red

           SourceID    id_1    id_2
0     4000705532455  590539  588102
1     4000705533312  621053  624589
2     4000705533383  617834  617637
3     4000705539529  882817  881527
4     4000705539941  893328  892731
...             ...     ...     ...
2458  6000536184828  862874  861480
2459  6000536185304  887383  889072
2460  6000536185496  898134  898261
2461  6000536185585  904074  901845
2462  6000536185717  915513  915771

[2463 rows x 3 columns]

In [5]:
ids_2020 = data['ID']
ids_2015 = data['ID_COSMOS2015']

matched_ids = pd.DataFrame(zip(ids_2020, ids_2015)).rename(columns = {0: 'ids_2020',1 : 'ids_2015'}).query('ids_2015 > -99')

In [7]:
matched_ids

         ids_2020  ids_2015
38800       38801       116
38833       38834        97
38919       38920       126
38949       38950       185
38950       38951      8847
...           ...       ...
1634197   1634198   1173953
1634215   1634216   1162269
1634320   1634321   1162313
1649890   1649891   1182095
1654397   1654398   1182096

[865086 rows x 2 columns]

In [14]:
prim_ids = cat2015_red[['SourceID', 'id_1']].rename(columns = {'id_1' : 'ids_2015'})
sec_ids = cat2015_red[['SourceID', 'id_2']].rename(columns = {'id_2' : 'ids_2015'})

In [37]:
prim_ids_matched = prim_ids.merge(matched_ids, on = 'ids_2015', how = 'left')[['SourceID', 'ids_2020']]
sec_ids_matched = sec_ids.merge(matched_ids, on = 'ids_2015', how = 'left')[['SourceID', 'ids_2020']]

In [22]:
sec_ids_matched

           SourceID   ids_2020
0     4000705532455   812427.0
1     4000705533312   872551.0
2     4000705533383   861742.0
3     4000705539529  1281998.0
4     4000705539941  1300267.0
...             ...        ...
2458  6000536184828  1251929.0
2459  6000536185304  1294806.0
2460  6000536185496  1308556.0
2461  6000536185585  1315791.0
2462  6000536185717  1336374.0

[2463 rows x 2 columns]

In [27]:
prim_ids_dict = prim_ids_matched.set_index('SourceID').to_dict()['ids_2020']
sec_ids_dict = sec_ids_matched.set_index('SourceID').to_dict()['ids_2020']

In [33]:
data[data['ID'] == prim_ids_dict[4000705532455]]['ID_CHANDRA'][0]

'-99'

### Matched Chandra ID

In [35]:
chandra_dict = {}
for i in tqdm(list(prim_ids_dict.keys())):
    tmp = data[data['ID'] == prim_ids_dict[i]]['ID_CHANDRA']
    if len(tmp) > 0.5:
        chandra_dict[i] = tmp[0]

  2%|▏         | 49/2463 [00:29<24:06,  1.67it/s]

IndexError: index 0 is out of bounds for axis 0 with size 0